.portfolio-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
    align-items: center;

    h1 {
        color: gold;
        font-size: 50px;
    }

    .portfolio-card1 {
        width: 100%;
        display: flex;
        overflow: hidden;
        overflow-x: hidden;

        img {
            width: 33.33%;

            cursor: pointer;
            overflow: hidden;
        }

        img:hover {
            width: 33.33%;
            scale: 0.98;
        }
    }

    .portfolio-card2 {
        width: 100%;
        display: flex;
        overflow: hidden;
        overflow-x: hidden;

        img {
            width: 33.33%;

            cursor: pointer;
            overflow: hidden;
        }

        img:hover {
            width: 33.33%;
            scale: 0.98;
        }
    }

    .portfolio-dowloand {
        width: 100%;
        height: 25vh;
        background-color: gray;
        display: flex;
        flex-direction: column;
        align-items: center;


        button {
            width: 200px;
            height: 70px;
            border-radius: 50px;
            color: rgb(0, 0, 0);
            border: none;
            background-color: rgb(255, 255, 255);
            cursor: pointer;
            font-weight: bolder;

        }

        h3 {
            font-size: 30px;
        }
    }
}